.calendar-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation-icon {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
}

.navigation-icon:hover {
    border-radius: 50%;
    background: #efefee;
}

.current-month {
    font-size: 24px;
    padding-inline: 16px;
}